<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title th:text="'TJ-Forestry | ' + ${post.description}">TJ-Forestry</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">TJ<span>-</span>Forestry</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a th:href="@{/}">Sludinājumi</a></li>
                    <li><a th:href="@{/locations}">Atlasīt pēc novada</a></li>
                    <li><a th:href="@{/favorites}">Atzīmētie</a></li>
                    <li><a th:href="@{/contacts}">Kontakti</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li class="active"><a th:href="@{/}">Sludinājumi</a></li>
                    <li><a th:href="@{/locations}">Atlasīt pēc novada</a></li>
                    <li><a th:href="@{/favorites}">Atzīmētie</a></li>
                    <li><a th:href="@{/contacts}">Kontakti</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="gif-detail container">
        <div class="frame row">
            <div class="col s12">
                <img th:src="@{'/images/' + ${post.id} + '.jpeg'}" alt="gif" />
                <a href="#" th:class="(${post.favorite} ? 'un' : '') + 'mark favorite'">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="meta row">
                    <div class="col s3">
                        <img class="circle" th:src="@{/images/no_avatar.jpg}" alt="avatar" />
                    </div>
                    <div class="col s9">
                        <h4 th:text="${post.username}"></h4>
                        <p th:text="'Meža platība: ' + ${post.area} + ' hektāri'"></p>
                        <p th:text="'Atrašanās vieta: ' + ${locationName}"></p>
                        <p th:text="'E-pasts saziņai - ' + ${post.email}"></p>
                        <p th:text="'Sludinājums izveidots - ' + ${post.dateCreated}"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="share">
                    <button class="btn right" onclick="copyToClipboard('#copyURL')">Kopēt</button>
                    <span id="copyURL" th:text="'https://tj-forestry.herokuapp.com/post/' + ${post.id}">URL</span>
                </div>
            </div>
        </div>
    </div>
    <script>
            function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
            }
    </script>
    <script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
    <script th:src="@{/vendor/materialize/js/materialize.js}"></script>
    <script th:src="@{/app.js}"></script>
</body>
</html>